
@{
    ViewData["Title"] = "AddInstructor";
}
@model Instructor;
<h1>Add Instructor</h1>
<form asp-action="AddInstructor" method="post">
    <label asp-for="Id">ID:</label><br>
    <input asp-for="Id"><br>

    <label asp-for="FirstName">First name:</label><br>
    <input asp-for="FirstName"><br>
    <span asp-validation-for="FirstName"></span><br>

    <label asp-for="LastName">Last name:</label><br>
    <input asp-for="LastName"><br>
    <span asp-validation-for="LastName"></span><br>

    <label asp-for="Rank">Rank:</label><br>
    <select asp-for="Rank" asp-items="Html.GetEnumSelectList(typeof(Rank))"></select><br>
    <span asp-validation-for="Rank"></span><br>

    <label asp-for="HiringDate">Hiring Date:</label><br>
    <input asp-for="HiringDate"><br>
    <span asp-validation-for="HiringDate"></span><br>

    <label asp-for="IsTenured">Is Tenured?:</label><br>
    <input asp-for="IsTenured"><br><br>
    <span asp-validation-for="IsTenured"></span><br>

    <input type="submit" value="Submit">
    <button type="button" onclick="history.back()">Cancel</button>
</form>

