@{
}

<h1>Student List</h1>
<table>
    <tr>
        <td>Name: </td>
        <td>@ViewBag.Student.StudentName</td>
    </tr>
    <tr>
        <td>Date Enrolled: </td>
        <td>@ViewBag.Student.DateEnrolled</td>
    </tr>
    <tr>
        <td>Course: </td>
        <td>@ViewBag.Student.Course</td>
    </tr>
    <tr>
        <td>Email: </td>
        <td>@ViewBag.Student.Email</td>
    </tr>
</table>
